@charset "UTF-8";

body{  font-size: 16px; }

h1{ font-size:28px; font-weight: bold;}

h2{ font-size:20px;}

h3{ font-size:18px;}

img{ max-width:100%;  }

/*sectionでcontentを使います*/
#content{
  padding-top:20px;
  padding-bottom:20px;
}



#recomeflex{
  padding-top:20px;
  padding-bottom:20px;
}

/*おすすめに影をつける*/
#recomeflex-wrap{
  background-color: white;
  /*box-shadow: 5px 5px 5px 10px rgba(0,0,0,.3);*/
}

/*TOPとBottomのサイズを変更する*/
.col-md-9{
  padding-top:20px;
  padding-bottom:20px;
  background-color: rgba(255, 255, 255, 0.479);
}

/*コンテナ内はflexで並べる*/
.container{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
/*空白のアイテムを調節する*/
.item {
  border: 1px solid #333;
  padding: 30px;
  width: 32%;
  text-align: center;
  background-color: #fff;
}

/*レスポンシブ対応*/
@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }

  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.newarticle{
  display: flex;
  list-style: none;
}

.articlemargin{
  margin: 0 2% 32px 0!important;
  display: flex;
  flex-direction: row;
}




#sidebar{ text-align: center;}
footer{ background-color: #222; }
footer p{
  padding:15px 0;
  color: white;
}